<div class="column is-one-quarter">
 <nav class="panel">
  <p class="panel-heading"> Trends </p>
  <p class="panel-block">
    Trend1 50K people talking about...
  </p>  
  <p class="panel-block">
    Trend2 45K people talking about...
  </p>
  <p class="panel-block">
    Trend3 30K people talking about...
  </p>
  <p class="panel-block">
    Trend4 5K people talking about...
  </p>
 </nav>
</div>  
