<div class="column">
 <nav class="panel">
  <p class="panel-heading"> Who to follow </p>
 </nav>
 <div class="panel-block">
  <article class="media">
   <div class="media-left">
    <figure class="image is-32x32">
     <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
   </div>
   <div class="media-content">
    <div class="media">
     <p>
      <strong> John doe </strong>
      <small> @Johndoe </small>
     </p>
    </div>
   </div>
  </article>    
 </div>
 <div class="panel-block">
  <article class="media">
   <div class="media-left">
    <figure class="image is-32x32">
     <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
   </div>
   <div class="media-content">
    <div class="media">
     <p>
      <strong> Leomessi </strong>
      <small> @Leomessi </small>
     </p>
    </div>
   </div>
  </article>    
 </div>
 <div class="panel-block">
  <article class="media">
   <div class="media-left">
    <figure class="image is-32x32">
     <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
   </div>
   <div class="media-content">
    <div class="media">
     <p>
      <strong> Justsul </strong>
      <small> @Justsul </small>
     </p>
    </div>
   </div>
  </article>    
 </div>
</div>       